/*cores*/
:root {
    
    // Grey
        --grey-shadow   :             #021224 ;
        --grey-dark-plus:             #1B1D21 ;
        --dark-blue-plus:             #262A33 ;
        --grey-dark-blue:             #3C424F ;
        --grey-dark-blue-90:          #4F5460 ;
        --grey-dark-blue-80:          #636872 ;
        --grey-dark-blue-70:          #767A83 ;
        --grey-dark-blue-60:          #8A8E95 ;
        --grey-dark-blue-50:          #9DA0A7 ;
        --grey-dark-blue-40:          #B1B3B9 ;
        --grey-dark-blue-30:          #C4C6CA ;
        --grey-dark-blue-25:          #CED0D3 ;
        --grey-dark-blue-20:          #D8D9DC ;
        --grey-dark-blue-15:          #E2E3E5 ;
        --grey-dark-blue-10:          #EBECED ;
        --grey-dark-blue-5:           #F5F6F7 ;
        // Red
        --red:                        #D63F40 ;
        --red-light:                  #E42C2D ;
        --red-dark:                   #C11E20 ;
        --red-05:                     #FDF5F5 ;
        --red-20:                     #F7D9D9 ;
        // Orange
        --beta:                       #FF5400 ;
        --orange-bright:              #FF7D00 ;
        --orange-bright-05:           #FFF8F2 ;
        --orange-bright-20:           #FFE4CC ;
        // Yellow
        --yellow:                     #FFAB00 ;
        --yellow-05:                  #FFFBF2 ;
        --yellow-20:                  #FFEECC ;
        // Green
        --green-bright:               #00DC00 ;
        --green-apple:                #50B848 ;
        --green-apple-05:             #F6FBF6 ;
        --green-apple-20:             #DCF1DA ;
        --green-bright-dull:          #38C72A ;
        // Blue
        --blue:                       #255BC7 ;
        --blue-bright:                #1963F6 ;
        --blue-sky:                   #1573E6 ;
        --blue-sky-05:                #F3F8FE ;
        --blue-sky-10:                #E7F1FC ;
        --blue-sky-20:                #D0E3FA ;
        --blue-light:                 #4782F7 ;
        --azul:                       #004089 ;
        // Purple
        --purple:                     #663399 ;
        --purple-05:                  #F7F5FA ;
        --purple-20:                  #E0D6EB ;
        // Magenta
        --magenta:                    #ED1C5F ;
        --magenta-dull:               #CA2A60 ;
        --magenta-light:              #F32E6D ;
    }